/* Basis Definitions */

:root {
    --bg-color: rgb(56, 142, 255);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}



/* Grid Layouts */

.container {
    display: grid;
    grid-template-columns: 1fr 6fr;
    height: 100vh;
}

.sidebar {
    background-color: var(--bg-color);
    color: white;
    display: grid;
    grid-template-rows: 1fr 4fr 6fr;
    padding: 20px;
}

.header {
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-template-rows: 1fr 2fr;
}

.header-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    gap: 20px;
}

.notification-bar {
    display: flex;
    justify-content: flex-end;
    column-gap: 40px;
    margin-right: 100px;
    align-items: center;
    font-weight: 600;
}

.search-bar {
    display: flex;
    column-gap: 30px;
    margin-left: 10px;
    margin-right: 40px;
    align-items: center;
    font-weight: 600;
}

.search-bar input {
    flex: 1;
    background-color: lightgray;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    padding: 4px 8px;
    margin: 8px 0;
}

.main {
    display: grid;
    grid-template-rows: 100px auto;
}

.content {
    background-color: lightgray;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.projects {
    grid-row: 1 / -1;
}

/* Design */

input[type=button] {
    background-color: var(--bg-color);
    border: none;
    border-radius: 30px;
    color: white;
    padding: 12px 40px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    height: fit-content;
    width: 150px;
    font-size: 1rem;
    font-weight: 600;
}

.userIcon {
    width: 40px;
    height: 40px;
}
